@{
    Layout = "_Layout";
}
@model Category

<form method="POST" asp-action="CreateCategory" asp-controller="Category">
    <table>
        <tr>
            <td>
                <label asp-for="Name">Name:</label>
            </td>
            <td>
                <input asp-for="Name" /><br />
            </td>
        </tr>
        <tr>
            <td>
                <label asp-for="Description">Description:</label>
            </td>
            <td>
                <input asp-for="Description" /><br />
            </td>
        </tr>
    </table>
    <input class="btn btn-success" type="submit" value="Create" />
    <a asp-action="Categories" class="btn btn-secondary">Cancel</a>
</form>